@import "tailwindcss";
@import 'flowbite';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
/* Ukrywa scrollbar w Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}
@keyframes slide-in {
  0% {
      transform: translateX(-100%);
      opacity: 0;
      filter: blur(10px); /* Dodaj blur na początku */
  }
  100% {
      transform: translateX(0);
      opacity: 1;
      filter: blur(0); /* Usuń blur na końcu */
  }
}

.slide-in {
  animation: slide-in 0.4s ease forwards;
}

#streamsoft_prestiz {
  font-family: 'Montserrat', sans-serif;
  font-size: 255px;
  font-weight: 700;
  color: #3B5CD2;
  line-height: 20px;
}
#streamsoft {
  font-family: 'Montserrat', sans-serif;
  font-size: 54px;
  font-weight: 700;
  color: #3B5CD2;
  line-height: 20px;
}
#streamsoft_podziekowania {
  font-family: "Meow Script", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 34px;
  color: #3B5CD2;
  line-height: 40px;
}
#erp {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: #3B5CD2;
  line-height: 20px;
}

#logo-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}
#blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: -1;
}


/* Kontener logotypów - animacja */
.logos-container {
  display: flex;
  gap: 20px;
  animation: slideLogos 20s linear infinite;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}


/* Animacja dla logotypów */
@keyframes logosMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-55%);
  }
}

.logos-container {
  animation: logosMove 8s linear infinite;
}

/* Tło z rozmyciem */
.bg-gray-200 {
  background-color: #f5f5f5;
}

/* Jeśli chcesz bardziej widoczny efekt rozmycia */
.blur-sm {
  filter: blur(7px);
}


